.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 100px;
  left: 170px;
  top: 220px;
  /* background: rgb(212, 129, 129); */
  background: #ffffff;
  border-radius: 10px;
}

.items {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* background-color: black; */
  width: 195px;
  height: 50px;
}

.icon {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: #ebeef5;
  border-radius: 38px;
  z-index: 1;
  margin-right: 10px;
}

.icon img {
  z-index: 2;
}

@media only screen and (max-width: 720px) {
  /* For mobile phones: */

  .card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 49%;
    height: 100px;
    /* left: 16px;
    top: 133px; */
    background: #35539a;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .items {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 100px;
    margin: 15px;
    padding-top: 5px;
  }

  .icon {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 30px;
    height: 30px;
    background: #ebeef5;
    border-radius: 38px;
    z-index: 1;
    /* margin-top: 10px; */
  }
}
